# Project: Soccer Database Invistigation

## Table of Contents
<ul>
<li><a href="#intro">Introduction</a></li>
<li><a href="#wrangling">Data Wrangling</a></li>
<li><a href="#eda">Exploratory Data Analysis</a></li>
<li><a href="#conclusions">Conclusions</a></li>
</ul>

<a id='intro'></a>
## Introduction

#### In this project I will investigate the Soccer Database in order to answer this question: 
> 
> #### What are the factors that affect the chances of a team winning a match?

In [2]:
import pandas as pd
import numpy as np
import matplotlib as plt


# Remember to include a 'magic word' so that your visualizations are plotted
#   inline with the notebook. See this page for more:
#   http://ipython.readthedocs.io/en/stable/interactive/magics.html

<a id='wrangling'></a>
# Data Wrangling


### General Properties

In [3]:
team = pd.read_csv('Team.csv')
team_att = pd.read_csv('Team_Attributes.csv')
players = pd.read_csv('Player.csv')
player_att = pd.read_csv('Player_Attributes.csv')
match = pd.read_csv('Match.csv')
team.info()
team_att.info()
players.info()
player_att.info()
match.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 299 entries, 0 to 298
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id                299 non-null    int64
 1   team_api_id       299 non-null    int64
 2   team_fifa_api_id  288 non-null    float64
 3   team_long_name    299 non-null    object
 4   team_short_name   299 non-null    object
dtypes: float64(1), int64(2), object(2)
memory usage: 11.8+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1458 entries, 0 to 1457
Data columns (total 25 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              1458 non-null   int64
 1   team_fifa_api_id                1458 non-null   int64
 2   team_api_id                     1458 non-null   int64
 3   date                            1458 non-null   object
 4   buildUpPlaySpeed                1458 non-null   int64
 5   buildUpPlaySpeedClass           1458 non-null   object
 6   buildUpPlayDribbling            489 non-null    float64
 7   buildUpPlayDribblingClass       1458 non-null   object
 8   buildUpPlayPassing              1458 non-null   int64
 9   buildUpPlayPassingClass         1458 non-null   object
 10  buildUpPlayPositioningClass     1458 non-null   object
 11  chanceCreationPassing           1458 non-null   int64
 12  chanceCreationPassingClass      1458 non-null   object
 13  chanceCreationCrossing          1458 non-null   int64
 14  chanceCreationCrossingClass     1458 non-null   object
 15  chanceCreationShooting          1458 non-null   int64
 16  chanceCreationShootingClass     1458 non-null   object
 17  chanceCreationPositioningClass  1458 non-null   object
 18  defencePressure                 1458 non-null   int64
 19  defencePressureClass            1458 non-null   object
 20  defenceAggression               1458 non-null   int64
 21  defenceAggressionClass          1458 non-null   object
 22  defenceTeamWidth                1458 non-null   int64
 23  defenceTeamWidthClass           1458 non-null   object
 24  defenceDefenderLineClass        1458 non-null   object
dtypes: float64(1), int64(11), object(13)
memory usage: 284.9+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11060 entries, 0 to 11059
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  11060 non-null  int64
 1   player_api_id       11060 non-null  int64
 2   player_name         11060 non-null  object
 3   player_fifa_api_id  11060 non-null  int64
 4   birthday            11060 non-null  object
 5   height              11060 non-null  float64
 6   weight              11060 non-null  int64
dtypes: float64(1), int64(4), object(2)
memory usage: 605.0+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 183978 entries, 0 to 183977
Data columns (total 42 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   id                   183978 non-null  int64
 1   player_fifa_api_id   183978 non-null  int64
 2   player_api_id        183978 non-null  int64
 3   date                 183978 non-null  object
 4   overall_rating       183142 non-null  float64
 5   potential            183142 non-null  float64
 6   preferred_foot       183142 non-null  object
 7   attacking_work_rate  180748 non-null  object
 8   defensive_work_rate  183142 non-null  object
 9   crossing             183142 non-null  float64
 10  finishing            183142 non-null  float64
 11  heading_accuracy     183142 non-null  float64
 12  short_passing        183142 non-null  float64
 13  volleys              181265 non-null  float64
 14  dribbling            183142 non-null  float64
 15  curve                181265 non-null  float64
 16  free_kick_accuracy   183142 non-null  float64
 17  long_passing         183142 non-null  float64
 18  ball_control         183142 non-null  float64
 19  acceleration         183142 non-null  float64
 20  sprint_speed         183142 non-null  float64
 21  agility              181265 non-null  float64
 22  reactions            183142 non-null  float64
 23  balance              181265 non-null  float64
 24  shot_power           183142 non-null  float64
 25  jumping              181265 non-null  float64
 26  stamina              183142 non-null  float64
 27  strength             183142 non-null  float64
 28  long_shots           183142 non-null  float64
 29  aggression           183142 non-null  float64
 30  interceptions        183142 non-null  float64
 31  positioning          183142 non-null  float64
 32  vision               181265 non-null  float64
 33  penalties            183142 non-null  float64
 34  marking              183142 non-null  float64
 35  standing_tackle      183142 non-null  float64
 36  sliding_tackle       181265 non-null  float64
 37  gk_diving            183142 non-null  float64
 38  gk_handling          183142 non-null  float64
 39  gk_kicking           183142 non-null  float64
 40  gk_positioning       183142 non-null  float64
 41  gk_reflexes          183142 non-null  float64
dtypes: float64(35), int64(3), object(4)
memory usage: 59.0+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25979 entries, 0 to 25978
Columns: 115 entries, id to BSA
dtypes: float64(96), int64(9), object(10)
memory usage: 22.8+ MB

In [4]:
match.describe()

,id,country_id,league_id,stage,match_api_id,home_team_api_id,away_team_api_id,home_team_goal,away_team_goal,home_player_X1,...,SJA,VCH,VCD,VCA,GBH,GBD,GBA,BSH,BSD,BSA
count,25979.000000,25979.000000,25979.000000,25979.000000,2.597900e+04,25979.000000,25979.000000,25979.000000,25979.000000,24158.000000,...,17097.000000,22568.000000,22568.000000,22568.000000,14162.000000,14162.000000,14162.000000,14161.000000,14161.000000,14161.000000
mean,12990.000000,11738.630317,11738.630317,18.242773,1.195429e+06,9984.371993,9984.475115,1.544594,1.160938,0.999586,...,4.622343,2.668107,3.899048,4.840281,2.498764,3.648189,4.353097,2.497894,3.660742,4.405663
std,7499.635658,7553.936759,7553.936759,10.407354,4.946279e+05,14087.453758,14087.445135,1.297158,1.142110,0.022284,...,3.632164,1.928753,1.248221,4.318338,1.489299,0.867440,3.010189,1.507793,0.868272,3.189814
min,1.000000,1.000000,1.000000,1.000000,4.831290e+05,1601.000000,1601.000000,0.000000,0.000000,0.000000,...,1.100000,1.030000,1.620000,1.080000,1.050000,1.450000,1.120000,1.040000,1.330000,1.120000
25%,6495.500000,4769.000000,4769.000000,9.000000,7.684365e+05,8475.000000,8475.000000,1.000000,0.000000,1.000000,...,2.500000,1.700000,3.300000,2.550000,1.670000,3.200000,2.500000,1.670000,3.250000,2.500000
50%,12990.000000,10257.000000,10257.000000,18.000000,1.147511e+06,8697.000000,8697.000000,1.000000,1.000000,1.000000,...,3.500000,2.150000,3.500000,3.500000,2.100000,3.300000,3.400000,2.100000,3.400000,3.400000
75%,19484.500000,17642.000000,17642.000000,27.000000,1.709852e+06,9925.000000,9925.000000,2.000000,2.000000,1.000000,...,5.250000,2.800000,4.000000,5.400000,2.650000,3.750000,5.000000,2.620000,3.750000,5.000000
max,25979.000000,24558.000000,24558.000000,38.000000,2.216672e+06,274581.000000,274581.000000,10.000000,9.000000,2.000000,...,41.000000,36.000000,26.000000,67.000000,21.000000,11.000000,34.000000,17.000000,13.000000,34.000000

In [5]:
match.shape

(25979, 115)


# Data Cleaning

## We can drop N/A values from the player attributes file since they are few, there is a column with too many missing values in the team attributes file which is ('buildUpPlayDribbling')

In [6]:
player_att.dropna()
player_att.head()

,id,player_fifa_api_id,player_api_id,date,overall_rating,potential,preferred_foot,attacking_work_rate,defensive_work_rate,crossing,...,vision,penalties,marking,standing_tackle,sliding_tackle,gk_diving,gk_handling,gk_kicking,gk_positioning,gk_reflexes
0,1,218353,505942,2016-02-18 00:00:00,67.0,71.0,right,medium,medium,49.0,...,54.0,48.0,65.0,69.0,69.0,6.0,11.0,10.0,8.0,8.0
1,2,218353,505942,2015-11-19 00:00:00,67.0,71.0,right,medium,medium,49.0,...,54.0,48.0,65.0,69.0,69.0,6.0,11.0,10.0,8.0,8.0
2,3,218353,505942,2015-09-21 00:00:00,62.0,66.0,right,medium,medium,49.0,...,54.0,48.0,65.0,66.0,69.0,6.0,11.0,10.0,8.0,8.0
3,4,218353,505942,2015-03-20 00:00:00,61.0,65.0,right,medium,medium,48.0,...,53.0,47.0,62.0,63.0,66.0,5.0,10.0,9.0,7.0,7.0
4,5,218353,505942,2007-02-22 00:00:00,61.0,65.0,right,medium,medium,48.0,...,53.0,47.0,62.0,63.0,66.0,5.0,10.0,9.0,7.0,7.0

### The Match dataframe has too many columns (115) & 25+K records with many N/A Values we need to drop the N/A values + unnecessary columns for easier processing and visualization

In [8]:
match.drop(match.columns[[11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30]], axis= 1, inplace= True)
match.drop(match.columns[[11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30]], axis= 1, inplace= True)
match.info

<bound method DataFrame.info of           id  country_id  league_id     season  stage                 date  \
0          1           1          1  2008/2009      1  2008-08-17 00:00:00
1          2           1          1  2008/2009      1  2008-08-16 00:00:00
2          3           1          1  2008/2009      1  2008-08-16 00:00:00
3          4           1          1  2008/2009      1  2008-08-17 00:00:00
4          5           1          1  2008/2009      1  2008-08-16 00:00:00
...      ...         ...        ...        ...    ...                  ...
25974  25975       24558      24558  2015/2016      9  2015-09-22 00:00:00
25975  25976       24558      24558  2015/2016      9  2015-09-23 00:00:00
25976  25977       24558      24558  2015/2016      9  2015-09-23 00:00:00
25977  25978       24558      24558  2015/2016      9  2015-09-22 00:00:00
25978  25979       24558      24558  2015/2016      9  2015-09-23 00:00:00

       match_api_id  home_team_api_id  away_team_api_id  home_team_goal  ...  \
0            492473              9987              9993               1  ...
1            492474             10000              9994               0  ...
2            492475              9984              8635               0  ...
3            492476              9991              9998               5  ...
4            492477              7947              9985               1  ...
...             ...               ...               ...             ...  ...
25974       1992091             10190             10191               1  ...
25975       1992092              9824             10199               1  ...
25976       1992093              9956             10179               2  ...
25977       1992094              7896             10243               0  ...
25978       1992095             10192              9931               4  ...

        SJA   VCH   VCD   VCA   GBH   GBD   GBA   BSH   BSD   BSA
0      4.00  1.65  3.40  4.50  1.78  3.25  4.00  1.73  3.40  4.20
1      3.80  2.00  3.25  3.25  1.85  3.25  3.75  1.91  3.25  3.60
2      2.50  2.35  3.25  2.65  2.50  3.20  2.50  2.30  3.20  2.75
3      7.50  1.45  3.75  6.50  1.50  3.75  5.50  1.44  3.75  6.50
4      1.73  4.50  3.40  1.65  4.50  3.50  1.65  4.75  3.30  1.67
...     ...   ...   ...   ...   ...   ...   ...   ...   ...   ...
25974   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
25975   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
25976   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
25977   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
25978   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN

[25979 rows x 35 columns]>

In [14]:
match.drop(match.columns[[11,12,13,14]], axis=1, inplace= True)
match.info

<bound method DataFrame.info of           id  country_id  league_id     season  stage                 date  \
0          1           1          1  2008/2009      1  2008-08-17 00:00:00
1          2           1          1  2008/2009      1  2008-08-16 00:00:00
2          3           1          1  2008/2009      1  2008-08-16 00:00:00
3          4           1          1  2008/2009      1  2008-08-17 00:00:00
4          5           1          1  2008/2009      1  2008-08-16 00:00:00
...      ...         ...        ...        ...    ...                  ...
25974  25975       24558      24558  2015/2016      9  2015-09-22 00:00:00
25975  25976       24558      24558  2015/2016      9  2015-09-23 00:00:00
25976  25977       24558      24558  2015/2016      9  2015-09-23 00:00:00
25977  25978       24558      24558  2015/2016      9  2015-09-22 00:00:00
25978  25979       24558      24558  2015/2016      9  2015-09-23 00:00:00

       match_api_id  home_team_api_id  away_team_api_id  home_team_goal  \
0            492473              9987              9993               1
1            492474             10000              9994               0
2            492475              9984              8635               0
3            492476              9991              9998               5
4            492477              7947              9985               1
...             ...               ...               ...             ...
25974       1992091             10190             10191               1
25975       1992092              9824             10199               1
25976       1992093              9956             10179               2
25977       1992094              7896             10243               0
25978       1992095             10192              9931               4

       away_team_goal
0                   1
1                   0
2                   3
3                   0
4                   3
...               ...
25974               0
25975               2
25976               0
25977               0
25978               3

[25979 rows x 11 columns]>

In [15]:
match.describe()

,id,country_id,league_id,stage,match_api_id,home_team_api_id,away_team_api_id,home_team_goal,away_team_goal
count,25979.000000,25979.000000,25979.000000,25979.000000,2.597900e+04,25979.000000,25979.000000,25979.000000,25979.000000
mean,12990.000000,11738.630317,11738.630317,18.242773,1.195429e+06,9984.371993,9984.475115,1.544594,1.160938
std,7499.635658,7553.936759,7553.936759,10.407354,4.946279e+05,14087.453758,14087.445135,1.297158,1.142110
min,1.000000,1.000000,1.000000,1.000000,4.831290e+05,1601.000000,1601.000000,0.000000,0.000000
25%,6495.500000,4769.000000,4769.000000,9.000000,7.684365e+05,8475.000000,8475.000000,1.000000,0.000000
50%,12990.000000,10257.000000,10257.000000,18.000000,1.147511e+06,8697.000000,8697.000000,1.000000,1.000000
75%,19484.500000,17642.000000,17642.000000,27.000000,1.709852e+06,9925.000000,9925.000000,2.000000,2.000000
max,25979.000000,24558.000000,24558.000000,38.000000,2.216672e+06,274581.000000,274581.000000,10.000000,9.000000

### From the previous summary stats we can conclude that:
 - The home team has more goals on average than the away team, wich means it's likely that the home team wins.
 - The maximum scored goals in one match for a home team is 10 goals, and the maximum scored for an away team is 9 goals.

<a id='eda'></a>
## Exploratory Data Analysis


### Research Question: What are the factors affecting a team winning a match?

In [16]:
home_team_won = match.home_team_goal > match.away_team_goal
away_team_won = match.away_team_goal > match.home_team_goal
draw = match.home_team_goal == match.away_team_goal
match[home_team_won].info

<bound method DataFrame.info of           id  country_id  league_id     season  stage                 date  \
3          4           1          1  2008/2009      1  2008-08-17 00:00:00
8          9           1          1  2008/2009      1  2008-08-16 00:00:00
9         10           1          1  2008/2009     10  2008-11-01 00:00:00
21        22           1          1  2008/2009     11  2008-11-07 00:00:00
25        26           1          1  2008/2009     11  2008-11-08 00:00:00
...      ...         ...        ...        ...    ...                  ...
25970  25971       24558      24558  2015/2016      8  2015-09-12 00:00:00
25973  25974       24558      24558  2015/2016      8  2015-09-13 00:00:00
25974  25975       24558      24558  2015/2016      9  2015-09-22 00:00:00
25976  25977       24558      24558  2015/2016      9  2015-09-23 00:00:00
25978  25979       24558      24558  2015/2016      9  2015-09-23 00:00:00

       match_api_id  home_team_api_id  away_team_api_id  home_team_goal  \
3            492476              9991              9998               5
8            492481             10001              9986               1
9            492564              8342              8571               4
21           492576              9984             10000               2
25           492580             10001              9987               1
...             ...               ...               ...             ...
25970       1992087             10192              9824               4
25973       1992090             10179              7896               3
25974       1992091             10190             10191               1
25976       1992093              9956             10179               2
25978       1992095             10192              9931               4

       away_team_goal
3                   0
8                   0
9                   1
21                  0
25                  0
...               ...
25970               0
25973               0
25974               0
25976               0
25978               3

[11917 rows x 11 columns]>

In [17]:
match[away_team_won].info

<bound method DataFrame.info of           id  country_id  league_id     season  stage                 date  \
2          3           1          1  2008/2009      1  2008-08-16 00:00:00
4          5           1          1  2008/2009      1  2008-08-16 00:00:00
7          8           1          1  2008/2009      1  2008-08-16 00:00:00
10        11           1          1  2008/2009     10  2008-10-31 00:00:00
11        12           1          1  2008/2009     10  2008-11-02 00:00:00
...      ...         ...        ...        ...    ...                  ...
25961  25962       24558      24558  2015/2016      6  2015-08-23 00:00:00
25963  25964       24558      24558  2015/2016      6  2015-08-22 00:00:00
25964  25965       24558      24558  2015/2016      7  2015-08-29 00:00:00
25966  25967       24558      24558  2015/2016      7  2015-08-30 00:00:00
25975  25976       24558      24558  2015/2016      9  2015-09-23 00:00:00

       match_api_id  home_team_api_id  away_team_api_id  home_team_goal  \
2            492475              9984              8635               0
4            492477              7947              9985               1
7            492480              4049              9996               1
10           492565              9985              9986               1
11           492566             10000              9991               0
...             ...               ...               ...             ...
25961       1992078             10190              9956               0
25963       1992080             10243             10199               2
25964       1992081              7896             10199               0
25966       1992083             10191             10179               0
25975       1992092              9824             10199               1

       away_team_goal
2                   3
4                   3
7                   2
10                  2
11                  2
...               ...
25961               2
25963               5
25964               1
25966               2
25975               2

[7466 rows x 11 columns]>

In [18]:
match[draw].info

<bound method DataFrame.info of           id  country_id  league_id     season  stage                 date  \
0          1           1          1  2008/2009      1  2008-08-17 00:00:00
1          2           1          1  2008/2009      1  2008-08-16 00:00:00
5          6           1          1  2008/2009      1  2008-09-24 00:00:00
6          7           1          1  2008/2009      1  2008-08-16 00:00:00
12        13           1          1  2008/2009     10  2008-11-01 00:00:00
...      ...         ...        ...        ...    ...                  ...
25952  25953       24558      24558  2015/2016      4  2015-08-09 00:00:00
25958  25959       24558      24558  2015/2016      5  2015-08-13 00:00:00
25971  25972       24558      24558  2015/2016      8  2015-09-13 00:00:00
25972  25973       24558      24558  2015/2016      8  2015-09-13 00:00:00
25977  25978       24558      24558  2015/2016      9  2015-09-22 00:00:00

       match_api_id  home_team_api_id  away_team_api_id  home_team_goal  \
0            492473              9987              9993               1
1            492474             10000              9994               0
5            492478              8203              8342               1
6            492479              9999              8571               2
12           492567              9994              9998               0
...             ...               ...               ...             ...
25952       1992069              9824             10179               1
25958       1992075              9824              9956               3
25971       1992088             10199              9956               3
25972       1992089             10243             10191               3
25977       1992094              7896             10243               0

       away_team_goal
0                   1
1                   0
5                   1
6                   2
12                  0
...               ...
25952               1
25958               3
25971               3
25972               3
25977               0

[6596 rows x 11 columns]>

### From the previous tables we can conclude that it's likely that a home team will win, so wether you play on your land or on your opponent's it can affect your chances of winning.

In [19]:
team_match = [team[['team_short_name','team_long_name','team_api_id']], match[home_team_won]]

home_team_won_name = pd.concat(team_match, axis = 1, join = 'inner', sort = True)
home_team_won_name

,team_short_name,team_long_name,team_api_id,id,country_id,league_id,season,stage,date,match_api_id,home_team_api_id,away_team_api_id,home_team_goal,away_team_goal
3,LOK,Sporting Lokeren,9994,4,1,1,2008/2009,1,2008-08-17 00:00:00,492476,9991,9998,5,0
8,DEN,FCV Dender EH,7947,9,1,1,2008/2009,1,2008-08-16 00:00:00,492481,10001,9986,1,0
9,STL,Standard de Liège,9985,10,1,1,2008/2009,10,2008-11-01 00:00:00,492564,8342,8571,4,1
21,O-H,Oud-Heverlee Leuven,1773,22,1,1,2008/2009,11,2008-11-07 00:00:00,492576,9984,10000,2,0
25,MUN,Manchester United,10260,26,1,1,2008/2009,11,2008-11-08 00:00:00,492580,10001,9987,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
289,SIO,FC Sion,10179,290,1,1,2008/2009,8,2008-10-18 00:00:00,492546,9985,9998,2,1
290,LUZ,FC Luzern,10199,291,1,1,2008/2009,8,2008-10-19 00:00:00,492547,10000,8635,4,0
291,VAD,FC Vaduz,9824,292,1,1,2008/2009,8,2008-10-18 00:00:00,492548,9994,8571,2,0
294,GAL,FC St. Gallen,10190,295,1,1,2008/2009,8,2008-10-18 00:00:00,492551,9996,9999,2,0
297,LAU,FC Lausanne-Sports,7730,298,1,1,2008/2009,9,2008-10-25 00:00:00,492554,8635,8203,7,1

### Next step i'll investigate random teams from home winning teams to see the factors that may have affected their chances of winning.
The teams i'll investigate are: 
Roma (ROM), Chelsea (CHE), Valencia CF (VAL), and Napoli (NAP)

In [21]:
NAP = team['team_short_name'] == 'NAP'
NAP_att = [team[NAP], team_att]
NAP_att = pd.concat(NAP_att, axis = 1, join = 'inner')
NAP_att

,id,team_api_id,team_fifa_api_id,team_long_name,team_short_name,id,team_fifa_api_id,team_api_id,date,buildUpPlaySpeed,...,chanceCreationShooting,chanceCreationShootingClass,chanceCreationPositioningClass,defencePressure,defencePressureClass,defenceAggression,defenceAggressionClass,defenceTeamWidth,defenceTeamWidthClass,defenceDefenderLineClass
137,20526,9875,48.0,Napoli,NAP,138,32,8178,2011-02-22 00:00:00,67,...,55,Normal,Organised,57,Medium,39,Press,51,Normal,Cover

In [22]:
CHE = team['team_short_name'] == 'CHE'
CHE_att = [team[CHE], team_att]
CHE_att = pd.concat(CHE_att, axis = 1, join = 'inner')
CHE_att

,id,team_api_id,team_fifa_api_id,team_long_name,team_short_name,id,team_fifa_api_id,team_api_id,date,buildUpPlaySpeed,...,chanceCreationShooting,chanceCreationShootingClass,chanceCreationPositioningClass,defencePressure,defencePressureClass,defenceAggression,defenceAggressionClass,defenceTeamWidth,defenceTeamWidthClass,defenceDefenderLineClass
43,3475,8455,5.0,Chelsea,CHE,44,1861,9865,2014-09-19 00:00:00,46,...,40,Normal,Organised,37,Medium,53,Press,45,Normal,Cover

In [23]:
ROM = team['team_short_name'] == 'ROM'
ROM_att = [team[ROM], team_att]
ROM_att = pd.concat(ROM_att, axis = 1, join = 'inner')
ROM_att

,id,team_api_id,team_fifa_api_id,team_long_name,team_short_name,id,team_fifa_api_id,team_api_id,date,buildUpPlaySpeed,...,chanceCreationShooting,chanceCreationShootingClass,chanceCreationPositioningClass,defencePressure,defencePressureClass,defenceAggression,defenceAggressionClass,defenceTeamWidth,defenceTeamWidthClass,defenceDefenderLineClass
136,20525,8686,52.0,Roma,ROM,137,32,8178,2010-02-22 00:00:00,70,...,70,Lots,Organised,70,High,60,Press,70,Wide,Cover

In [24]:
VAL = team['team_short_name'] == 'VAL'
VAL_att = [team[VAL], team_att]
VAL_att = pd.concat(VAL_att, axis = 1, join = 'inner')
VAL_att

,id,team_api_id,team_fifa_api_id,team_long_name,team_short_name,id,team_fifa_api_id,team_api_id,date,buildUpPlaySpeed,...,chanceCreationShooting,chanceCreationShootingClass,chanceCreationPositioningClass,defencePressure,defencePressureClass,defenceAggression,defenceAggressionClass,defenceTeamWidth,defenceTeamWidthClass,defenceDefenderLineClass
77,9555,9873,110456.0,Valenciennes FC,VAL,78,2,10252,2011-02-22 00:00:00,65,...,50,Normal,Organised,35,Medium,45,Press,65,Normal,Cover
251,43035,10267,461.0,Valencia CF,VAL,252,1796,8191,2013-09-20 00:00:00,54,...,48,Normal,Organised,48,Medium,50,Press,58,Normal,Cover
266,43050,10281,462.0,Real Valladolid,VAL,267,647,7788,2014-09-19 00:00:00,45,...,57,Normal,Organised,42,Medium,49,Press,47,Normal,Cover

### From the previous sample we can conclude some points:
- Chance creation in winning teams is 50 on average in all parameters.
- Their build-up play positioning class is mostly organised.

<a id='conclusions'></a>
## Conclusions

- Playing on your grounds can up your chances of winning.
- Chance creation (considering all parameters) in a match must be over 50 to get a greater chance in winning.